.s-hero{
    padding-top: 8.6rem;
    .container{
        @include flex(row, center, space-between);
    }
    .image{
        width: 100%;
        max-width: 78rem;
        height: 50rem;
        position: relative; // to keep the images in this div
        @include flex(row, center, center);
        margin-right: -13rem; // to position outside the div
        .img{
            position: relative;
            &.one, 
            &.three{
                position: absolute; //sobrepor imagem principal
                bottom: 0;
            }
            &.one{
                left: 0;
                z-index: 20;
            }
            &.three{
                right: 0;
            }
        }

    }
    .text{
        width: 100%;
        max-width: 45rem;
        .tag{
            display: inline-block;
            margin-bottom: 1.9rem;
            line-height: 2.8rem; //height of the element
            font-weight: bold;
            font-size: 1.4rem;
            background-color: $primary-color-super-light;
            color: $primary-color;
            border-radius: 2rem;
            padding: 0px 2.4rem;
        }
        .scroll{
            gap: 1.2rem;
            display: flex;
            font-size: 1.2rem;
            line-height: 1.5rem;
            font-weight: 700;
            letter-spacing: 0.06em;
            color: $primary-color-light;
            text-transform: uppercase;
        }
    }
    .btn-hero{
        margin-top: 3.2rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 9.9rem;
    }
}

// section services

.s-services{
    padding-top: 14.5rem;
    padding-bottom: 9rem;
    .container{
        @include flex(column, center, center);
    }
    .top-title{
        text-align: center;
        width: 100%;
        max-width: 68.4rem;
        p{
            padding-top: 1.6rem;
            padding-bottom: 9rem;
        }
    }
    .card-text{
        width: 100%;
        max-width: 26.1rem;
        display: flex;
        .circle-img{
            width: 100%;
            max-width: 4.6rem;
            cursor: pointer;
        }
        p{
            padding-top: 1.2rem;
            line-height: 150%;
        }
    }
    .cards{
        @include flex(row, center, center);
        flex-wrap: wrap;
        gap: 5.6rem;
    }
}

// section plans
.s-plan{
    padding: 9rem 0rem;
    background-color: $gray-color-3;
    .container{
        @include flex(column, center, center);
    }
    .title-plan{
        width: 100%;
        max-width: 68.4rem;
        text-align: center;
        p{
            padding-top: 1.3rem;
            padding-bottom: 8.7rem;
            line-height: 170%;
        }
    }
    .plans{
        @include flex(row, center, center);
        flex-wrap: wrap;
        gap: 8rem;
        .plan-card{
            width: 100%;
            max-width: 35rem;
            border: 1px solid $text-color-light;
            border-radius: 5px;
            padding: 3.4rem;
            .head-card{
                border-bottom: 1px solid $primary-color-super-light;
                p{
                    padding-top: 0.8rem;
                    padding-bottom: 2.8rem;
                    &.purple{
                        color: $primary-color;
                        font-weight: 600;
                    }
                }
            }
            .body-card-plan{
                @include flex(row, center, space-between);
                padding-top: 3.2rem;
                gap: 3.5rem;
                width: 100%;
                p{
                    padding-bottom: 1.9rem;
                }
                .col-2{
                    text-align: right;
                }
                
            }
            .btn-primary{
                width: 100%;
                max-width: 28.1rem;
                margin-top: 3.2rem;
            }
        }
    }
}

// section 