// colors
$primary-color: #6E38F7;
$primary-color-light:#9873F7;
$primary-color-super-light: #E7E3F9;
$white: #FFFFFF;

$gray-color-1: #363940;
$gray-color-2: #95A1BB;
$text-color-light: #B5BDCF;
$gray-color-3: #F6F7FA;
$text-color: #6C7890;